:root {
    /*文字颜色*/
    --text-color: white;
    /*分割线颜色*/
    --hr-color: #ddd;
    /*自定义*/
    --layout-top-height: 65px;
    --layout-bottom-height: 95px;
    --vdc-gap: 10px;
    --vdc-top: 8px;
    /*背景图片*/
    --body-background-image: '';
    --blend-color: rgba(0, 0, 0, 0.2);

    /*左边底色*/
    --left-proxy-bg: rgba(255, 255, 255, 0.1);
    --left-bg-color: rgba(0, 0, 0, 0.1);
    /*左边菜单阴影*/
    --left-nav-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 3px 10px rgba(0, 0, 0, 0.19);
    --left-nav-hover-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 15px rgba(0, 0, 0, 0.25);
    /*左边一级菜单底色*/
    --left-nav-btn-bg: rgba(255, 255, 255, 0.1);
    --left-nav-btn-hover-bg: rgba(255, 255, 255, 0.15);
    --left-nav-btn-active-bg: rgba(255, 255, 255, 0.3);
    /*左边规则和代理选中底色*/
    --left-item-selected-bg: rgba(50, 60, 120);
    /*左边二级菜单底色*/
    --left-sec-nav-hover-bg: rgba(255, 255, 255, 0.15);
    --left-sec-nav-hover-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 15px rgba(0, 0, 0, 0.25);

    /*滚动条样式*/
    --scrollbar-bg: rgba(255, 255, 255, 0.3);
    --scrollbar-hover-bg: rgba(255, 255, 255, 0.6);
    --scrollbar-hover-shadow: 0 0 10px rgba(255, 255, 255, 0.6);

    /*右边底色*/
    --right-bg-color: rgba(80, 80, 120, 0.25);
    /*右边卡片阴影*/
    --right-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);


    --home-card-1: linear-gradient(135deg, rgba(80, 180, 140, 0.9), rgba(140, 240, 200, 0.8));
    --home-card-2: linear-gradient(135deg, rgba(200, 120, 180, 0.9), rgba(250, 180, 150, 0.8));
    --home-card-3: linear-gradient(135deg, rgba(255, 140, 80, 0.9), rgba(255, 200, 120, 0.9));
    --home-card-4: linear-gradient(135deg, rgba(80, 80, 130, 0.9), rgba(50, 50, 100, 0.8));
    --home-card-5: linear-gradient(135deg, rgba(100, 100, 150, 0.9), rgba(180, 180, 230, 0.8));
    --home-card-6: linear-gradient(135deg, rgba(100, 100, 150, 0.9), rgba(180, 180, 230, 0.8));
    --home-test-icon-bg: rgba(255, 255, 255, 0.9);


    --top-hr-color: #FFD700;
    --skin-bg-color: rgba(0, 0, 0, 0.8);
    --skin-hover-color: rgba(160, 160, 160, 0.5);
    --skin-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    --sub-card-border: rgba(255, 255, 255, 0.3);
    --sub-card-bg: rgba(255, 255, 255, 0.1);

    --search-input-bg: rgba(255, 255, 255, 0.1);
    --placeholder-color: rgba(255, 255, 255, 0.6);

    --rule-list-bg: rgba(128, 128, 128, 0.2);
    --rule-list-hover: rgba(0, 0, 0, 0.2);

    --body-blur: blur(0.5px) brightness(0.95) saturate(180%);
    --body-blur-color: rgba(0, 0, 0, 0.15);

    --right-boder: 1px solid rgba(255, 255, 255, 0.1);
}

[data-theme="dark"] {
    /*左边底色*/
    --left-proxy-bg: rgba(0, 0, 0, 0.05);
    --left-bg-color: rgba(255, 255, 255, 0.05);
    /*左边菜单阴影*/
    --left-nav-shadow: 0 2px 4px rgba(255, 255, 255, 0.2), 0 3px 10px rgba(255, 255, 255, 0.19);
    --left-nav-hover-shadow: 0 4px 8px rgba(255, 255, 255, 0.3), 0 6px 15px rgba(255, 255, 255, 0.25);
    /*左边一级菜单底色*/
    --left-nav-btn-bg: rgba(0, 0, 0, 0.05);
    --left-nav-btn-hover-bg: rgba(0, 0, 0, 0.1);
    --left-nav-btn-active-bg: rgba(0, 0, 0, 0.08);
    /*左边规则和代理选中底色*/
    --left-item-selected-bg: rgba(50, 60, 120);
    /*左边二级菜单底色*/
    --left-sec-nav-hover-bg: rgba(0, 0, 0, 0.05);
    --left-sec-nav-hover-shadow: 0 4px 8px rgba(255, 255, 255, 0.3), 0 6px 15px rgba(255, 255, 255, 0.25);

    /*滚动条样式*/
    --scrollbar-bg: rgba(0, 0, 0, 0.3);
    --scrollbar-hover-bg: rgba(0, 0, 0, 0.6);
    --scrollbar-hover-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

    /*右边底色*/
    --right-bg-color: rgba(80, 80, 120, 0.25);
    /*右边卡片阴影*/
    --right-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);


    --hr-color: rgba(60, 60, 60, 0.8);
    --home-test-icon-bg: rgba(0, 0, 0, 0.08);

    --skin-bg-color: rgba(255, 255, 255, 0.9);
    --skin-hover-color: rgba(90, 90, 90, 0.5);
    --skin-box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);

    --sub-card-border: rgba(0, 0, 0, 0.25);

    --search-input-bg: rgba(0, 0, 0, 0.05);
    --placeholder-color: rgba(0, 0, 0, 0.6);

    --rule-list-bg: rgba(0, 0, 0, 0.05);
    --rule-list-hover: rgba(255, 255, 255, 0.6);

    --body-blur: blur(1px) brightness(0.75) saturate(100%);
    --body-blur-color: rgba(150, 150, 150, 0.1);

    --right-boder: 1px solid rgba(0, 0, 0, 0.1);
}